body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
canvas {
  border: 5px solid gold;
  background: url('assets/bg.png') no-repeat center center;
  background-size: cover;
}